body{

    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.header {
    position: relative;
    height: 60px;
    width: 100%;
   
}

.header nav{
    display: flex;
    justify-content: flex-end;
    
}

header nav .nav-right-section{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 250px;
    list-style: none;

}

main{
    display: flex;
    flex-direction: column;
    justify-content: center;
   
    height:500px;
    width: 100%;

}

main .main-logo {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
main .main-input {
    display: flex;
    flex-direction: row;
    justify-content: center;
   
   

}
main .main-buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

main .main-buttons button{
    height: 36px;
    border: none;
    font-size: 14px;
    color: #5f6368;
    border-radius: 5px;
    padding: 0 15px;
    margin-right: 10px;
    margin-top: 50px;
}

main .main-input input{
    width: 495px;
    height: 40px;
    border-radius: 100px;
   border: 1px solid  #dfe1e5;
}

main .offered{
    margin-top: 50px;
    display: flex;
    justify-content: center;
}

footer {
    background-color: #dfe1e5; 
   
}

footer .footer-down{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

footer .footer-left {
    width: 400px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style:none;
    padding: auto;
}

footer .footer-right{
    width: 300px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style:none;
    padding: auto;
}